CREATE LOC YO <%= @college_id %>
<form action="/location" method="post">
  <ul>
  <input type="hidden" name="action" value="<%= params[:action] %>">
  <input type="hidden" name="createdBy" value="<%= session[:username] %>">
  <input type="hidden" name="createdAt" value="<%= Time.now.to_i %>"> 
  <li><input type="text" name="title" value="title"></li>
  <li><input type="text" name="slug" value="SLUG"></li>
  <li><input type="text" name="description" value="description"></li>
  <li><input type="text" name="address" value="address"></li>
  <li><input type="text" name="category" value="category"></li>
  <li><input type="number" name="college_id" value="<%= session[:college_id]%>"></li>
  <li><input type="number" name="latitude"  step="any" value="latitude"></li>
  <li><input type="number" name="longitude" step="any" value="longitude"></li>
  <li><input type="file" name="file" id="file"></li>

  <li><input type="submit"></li>
</form>
